<h1>Static Pages #about</h1>
<p>Hey there this is the about page. If you have any questions about Bike Berlin, feel free to reach out to us. We are happy to help.</p>
<p>Find me in app/views/static_pages/about.html.erb</p>
