<div class="page-wrap">
  <div class="container">
    <div class="contact">
      <h1>Contact Info</h1>
    </div><!--end header-->
    <div class="row">
      <div class="col-md-4 col-xs-12" id="contact-details">
        <div class="phone">
          <h2><span class="glyphicon glyphicon-glyphicon glyphicon-phone-alt"></span><br>call us:</h2>
          <p>(0049) 30 90 20 700</p>
        </div><!--end phone-->
        <div class="adress">
          <h2><span class="glyphicon glyphicon-glyphicon glyphicon-pencil"></span><br>write us:</h2>
          <p>Bike Berlin <br> Berliner Strasse 80 <br> 50505 Berlin</p>
        </div><!--end adress-->
        <div class="e-mail">
          <h2><span class="glyphicon glyphicon-glyphicon glyphicon-envelope"></span><br>mail us:</h2>
          <p>contact@bikeberlin.com</p>
        </div><!--end e-mail-->
      </div><!--end col-->

      <div class="col-md-8 col-xs-12">
        <div class="contact-form">
          <form>
            <h2>Leave us a message:</h2>
            <div class="form-group">
              <label for="name">Your name</label>
              <input placeholder="enter your name here" class="form-control" type="text" id="name" name="name">
            </div><!--end form-group-->
            <div class="form-group">
              <label for="email">Your email adress (*)</label>
              <input placeholder="enter your email here" class="form-control" type="email" name="email" required="required" id="email">
            </div><!--end form-group-->
            <div class="form-group">
              <label for="message-box">Your message (*)</label>
              <textarea placeholder="place your message here.." class="form-control" id="message-box" name="message-box" restyle="resize:none" cols="40" rows="5" required="required"></textarea>
              <p id="char-count"></p>
            </div><!--end form-group-->
            <p id="visible-comment"></p>
            <button id="submit" type="submit" class="btn btn-default">Submit</button>
          </form>
        </div><!--end contact-form-->
      </div><!--end col-->
    </div><!--row-->
  </div><!--end container-->
</div>
