<table>
  <tbody>
    <tr>
      <p>Thank you for your order with Bike Berlin. Your order details are:</p>
    </tr>
    <tr>
      <p><%= @product.name %></p>
    </tr>
    <tr>
      <p>Price: <b><%=(@product.price * 100).to_i%></b></p>
    </tr>
  </tbody>
</table>
