<table>
  <tbody>
    <tr>
      <p>Thank you for your order with Bike Berlin.</p>
    </tr>
    <tr>
      <p>Your order details are: <%= @product.name %></p>
    </tr>
    <tr>
      <p>Price: <b> <%= @product.price %></b></p>
    </tr>
  </tbody>
</table>
