// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  max-width: 100%;
  margin-bottom: 10px;
}

#product-outline a {
  color: black;
}

.row p {
  font-size: 1.5em;
}

.product-links p {
  font-size: 1em;
}

.rate-product {
  margin-top: 30px;
}

.new-product-button {
  font-size: 1.5em;
  text-align: left;
  margin-left: 30px;
  margin-bottom: 20px;
}

form {
  text-align: left;
}
