// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 40px;
  font-family: 'Lato', sans-serif;
  margin: 0 15px;
  text-align: center;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -25px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 25px;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1em;
}

.img-responsive {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

//nav-bar

nav {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  text-align: left;
}

nav a {
  color: white;
}

nav li > a:focus, a:hover {
    color: #778899;
}

ul li {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding: 10px 10px 0 0;
  text-decoration: none;
  font-family: 'Hind', sans-serif;
  color: white;
}

//contact-page

.container h1 {
  text-align: center;
}

.row p {
  font-size: 1em;
}

.contact-form {
  text-align: left;
}

//about-page

#about {
  margin: 0 30px;
}

//footer

.site-footer {
  height: 25px;
  color: white;
  background: black;
  text-align: center;
  margin-top: 15px;
}

.footer-text {
  padding-top: 3px;
}
