// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 40px;
  font-family: 'Lato', sans-serif;
  margin: 0 15px;
  text-align: center;
  padding-bottom: 80px;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -25px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 25px;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1em;
}

.img-responsive {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  text-align: center;
}

//nav-bar

nav {
  background-color: black;
  z-index: 1;
}

nav a {
  color: white;
}

#navbar a:hover {
    color: #778899;
    text-decoration: none;
}

.navbar-brand {
  text-decoration: none;
}

ul li {
  text-transform: uppercase;
  font-family: 'Hind', sans-serif;
}

.nav > li {
  z-index: 9999;
}

nav img {
  height: 50px;
  margin-top: -14px;
}

//contact-page

.container h1 {
  text-align: center;
}

.row p {
  font-size: 1em;
}

#contact-form {
  margin-top: 15px;
}

//about-page

#about {
  margin: 0 30px;
}

//login-site

.user-management {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

//footer

.site-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 65px;
  color: white;
  background: black;
  text-align: center;
  margin-top: 15px;
  padding: 20px 0;
}

.footer-text {
  padding-top: 3px;
}
