// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 40px;
  font-family: 'Lato', sans-serif;

}

h1 {
  font-size: 4em;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 1em;
}

nav {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
}

ul li {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding: 10px 10px 0 0;
  text-decoration: none;
  font-family: 'Hind', sans-serif;
  color: white;
}

.img-responsive {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.site-footer {
  height: 25px;
  color: white;
  background: black;
  padding-left: 10px;
  margin-left: -10px;
}

.footer-text {
  text-align: right;
  margin-right: 15px;
}
